[tool.poetry]
name = "holmesgpt"
version = "0.1.0"
description = ""
authors = ["Natan Yellin <natan@robusta.dev>"]
readme = "README.md"
packages = [{ include = "holmes" }]

[tool.poetry.scripts]
holmes = "holmes.main:run"

[tool.poetry.dependencies]
python = "^3.9"
openai = "^1.6.1"
slack-bolt = "^1.18.1"
pydantic-settings = "^2.1.0"
pyyaml = "^6.0.1"
jinja2 = "^3.1.2"
typer = "^0.12"
python-benedict = "^0.33.1"
humanize = "^4.9.0"
rich = "^13.7.1"
pydash = "^8.0.1"
fastapi = "^0.115"
uvicorn = "^0.30"
pydantic = "^2.7"
supabase = "^2.5"
colorlog = "^6.8.2"
strenum = "^0.4.15"
markdown = "^3.6"
certifi = "^2024.7.4"
urllib3 = "^1.26.19"
boto3 = "^1.34.145"
setuptools = "^72.1.0"
aiohttp = "^3.10.2"
cachetools = "^5.5.0"
bs4 = "^0.0.2"
markdownify = "^0.13.1"
starlette = "^0.40"
google-api-python-client = "^2.156.0"
opensearch-py = "^2.8.0"
backoff = "^2.2.1"
litellm = "^1.60.2"
sentry-sdk = {extras = ["fastapi"], version = "^2.20.0"}
confluent-kafka = "^2.6.1"
python_multipart = "^0.0.18"

[tool.poetry.group.dev.dependencies]
pytest = "^8.3.3"
pytest-xdist = "^3.6.1"
ruff = "^0.7.3"
braintrust = "^0.0.168"
autoevals = "^0.0.103"
pre-commit = "^4.0.1"
pytest-mock = "^3.14.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
