apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-holmes
  namespace: {{ .Release.Namespace }}
  labels:
    app: holmes
spec:
  replicas: 1
  selector:
    matchLabels:
      app: holmes
  template:
    metadata:
      labels:
        app: holmes
    spec:
      {{- if .Values.customServiceAccountName }}
      serviceAccountName: {{ .Values.customServiceAccountName }}
      {{ else }}
      serviceAccountName: {{ .Release.Name }}-holmes-service-account
      {{- end }}
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
      {{- toYaml .Values.imagePullSecrets | nindent 6 }}
      {{- end }}
      {{- if .Values.affinity }}
      affinity: {{ toYaml .Values.affinity | nindent 8 }}
      {{- end }}
      containers:
      - name: holmes
        image: "{{ .Values.registry }}/{{ .Values.image }}"
        imagePullPolicy: Always
        command: ["python3", "-u", "server.py"]
        env:
          - name: LOG_LEVEL
            value: {{ .Values.logLevel }}
          {{ if .Values.certificate -}}
          - name: CERTIFICATE
            value: {{ .Values.certificate }}
          {{- end }}
          {{ if .Values.enablePostProcessing -}}
          - name: HOLMES_POST_PROCESSING_PROMPT
            value: {{ .Values.postProcessingPrompt }}
          {{- end }}
          {{- if .Values.additionalEnvVars -}}
          {{ toYaml .Values.additionalEnvVars | nindent 10 }}
          {{- end }}
          {{- if .Values.additional_env_vars -}}
          {{ toYaml .Values.additional_env_vars | nindent 10 }}
          {{- end }}
        lifecycle:
          preStop:
            exec:
              command: ["bash", "-c", "kill -SIGINT 1"]
        volumeMounts:
          - name: playbooks-config-secret
            mountPath: /etc/robusta/config
          - name: custom-toolsets-configmap
            mountPath: /etc/holmes/config
          - name: holmes-config-secret
            mountPath: /root/.holmes/
          {{- if .Values.additionalVolumeMounts -}}
          {{ toYaml .Values.additionalVolumeMounts | nindent 10 }}
          {{- end }}
        resources:
          requests:
            cpu: {{ .Values.resources.requests.cpu }}
            memory: {{ .Values.resources.requests.memory }}
          limits:
            memory: {{ .Values.resources.limits.memory }}
            {{ if .Values.resources.limits.cpu }}cpu: {{ .Values.resources.limits.cpu | quote }}{{ end }}
      {{- if .Values.tolerations }}
      tolerations: {{ toYaml .Values.tolerations | nindent 8 }}
      {{- end }}
      volumes:
        - name: playbooks-config-secret
          secret:
            secretName: robusta-playbooks-config-secret
            optional: true
        - name: custom-toolsets-configmap
          configMap:
            name: custom-toolsets-configmap
            optional: true
        - name: holmes-config-secret
          secret:
            secretName: holmes-config-secret
            optional: true
        {{- if .Values.additionalVolumes -}}
        {{ toYaml .Values.additionalVolumes | nindent 8 }}
        {{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-holmes
  namespace: {{ .Release.Namespace }}
  labels:
    app: holmes
spec:
  selector:
    app: holmes
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 5050
