# Logs
* if the user wants to find a specific term in a pod's logs, use fetch_logs
* Prior to fetching logs, ensure the pod exist using kubectl tools
* If you find no logs, souble check that the namespace and pod names are exact. Use kubectl tools to find the right resource names and pod name.
* If you are not given the pod's namespace, look for the resource using kubectl tools
* If you are not given the pod's exact name, only have an application name or a deployment name, look for related pods using kubectl commands.
