
Give your answer in a JSON format with the following sections. You can set a null value to a section if it's not relevant to the investigation. The content of each section should be formatted with markdown:

{
{% for title, description in sections.items() %}
  "{{ title }}": "{{ description | replace("\n", "\\n") }}",{% endfor %}
}

<DO NOT list tools used and DO NOT add a `# Tools` section>
