
# Optional openai key and endpoint to create openai queries.
llm: "openai"
openaiKey: ""
azureEndpoint: ""
azureOpenaiKey: ""

certificate: "" # base64 encoded
logLevel: INFO

additionalEnvVars: []
imagePullSecrets: []

allowedToolsets: "kubernetes/core"

image: holmes:0.0.0
registry: us-central1-docker.pkg.dev/genuine-flight-317411/devel

enableAccountsCreate: true


createSecret: true
secretName: holmes

createServiceAccount: true
customServiceAccountName: ""

customClusterRoleRules: []

enablePostProcessing: false
postProcessingPrompt: "builtin://generic_post_processing.jinja2"

serviceAccount:
  imagePullSecrets: []
  annotations: {}

