You are provided with a fetch_webpage tool.

Github URLs
-----------
If you are provided a github URL and want to call `fetch_webpage` you may want to rewrite the URL to get to raw files.
For example rewrite `https://github.com/<github_org>/<github_repo>/blob/<branch>/README.md` as
`https://raw.githubusercontent.com/<github_org>/<github_repo>/refs/heads/<branch>/README.md` gives you the raw file without unnecessary HTML content.

Runbooks
--------
If you are given a URL with runbooks, you can follow links and references inside runbooks and make as many `fetch_webpage` calls as necessary.
