{% if enabled %}
This is a built-in toolset which is enabled by default. 

If you would like to disable this toolset (not recommended), you need to update the `generated_values.yaml` configuration.

```yaml
enableHolmesGPT: true
holmes:
  additionalEnvVars:
    - name: ROBUSTA_AI
      value: "true"
toolsets:
    {{toolset_name}}:
        enabled: false
```

{% else %}
This is a built-in toolset which is disabled by default. 
If you would like enable this toolset, you need to update the `generated_values.yaml` configuration.

```yaml
enableHolmesGPT: true
holmes:
  additionalEnvVars:
    - name: ROBUSTA_AI
      value: "true"
{% if env_vars %}{% for env in env_vars %}
    - name: {{ env }}
      value: ""
{% endfor %}
{% endif %}
  toolsets:
    {{toolset_name}}:
      enabled: true
```

{% endif %}

And deploy the updated configuration using Helm

```bash
helm upgrade robusta robusta/robusta --values=generated_values.yaml --set clusterName=<YOUR_CLUSTER_NAME>
```