## Install

To install the toolset, ensure the following:

1. Verify if the toolset is already included in holmes/plugins/toolsets. If so, just ensure its name is listed in the DEFAULT_TOOLSETS environment variable and not disabled by toolset's config.
2. If the toolset is not part of the defaults, define it explicitly under the toolsets configuration.

Example Configuration:

```yaml
enableHolmesGPT: true
holmes:
  additionalEnvVars:
    - name: ROBUSTA_AI
      value: "true"
{% if env_vars %}
{% for env in env_vars %}
    - name: {{ env }}
      value: ""
{% endfor %}
{% endif %}
  toolsets:
    {{toolset_name}}:
      enabled: true
      description: "Tool's description"
      docs_url: "Tool's documentation URL"
      icon_url: "Icon URL"
      prerequisites:
        - command: "example command"
      # Add other configurations as needed
      tools:
        # Define the tools included in this toolset
```