To enable this integration, update the Helm values for Robusta (`generated_values.yaml`):

Example Configuration:

```yaml
holmes:
  {% if env_vars %}
  additionalEnvVars:
{% for env in env_vars %}
    - name: {{ env }}
      value: ""
{% endfor %}
{% endif %}
  toolsets:
    {{toolset_name}}:
      enabled: true
      description: "Tool's description"
      docs_url: "Tool's documentation URL"
      icon_url: "Icon URL"
      prerequisites:
        - command: "example command"
      # Add other configurations as needed
      tools:
        # Define the tools included in this toolset
```