To install the toolset, you need to define the toolset and update the `generated_values.yaml` configuration:

Example Configuration:

```yaml
enableHolmesGPT: true
holmes:
  additionalEnvVars:
    - name: ROBUSTA_AI
      value: "true"
{% if env_vars %}{% for env in env_vars %}
    - name: {{ env }}
      value: ""
{% endfor %}
{% endif %}
  toolsets:
    {{toolset_name}}:
      enabled: true
      description: "Tool's description"
      docs_url: "Tool's documentation URL"
      icon_url: "Icon URL"
      prerequisites:
        - command: "example command"
      # Add other configurations as needed
      tools:
        # Define the tools included in this toolset
```