name: Build and Release

on:
  release:
    types: [created]

jobs:
  build:
    strategy:
      matrix:
        # We build on an older Ubuntu as pyinstaller binaries are forward-compatible not backwards-compatible
        # See https://pyinstaller.org/en/stable/usage.html?highlight=glibc#making-gnu-linux-apps-forward-compatible:~:text=The%20solution%20is%20to%20always%20build%20your%20app%20on%20the%20oldest%20version%20of%20GNU/Linux%20you%20mean%20to%20support.%20It%20should%20continue%20to%20work%20with%20the%20libc%20found%20on%20newer%20versions.
        # TODO: for similar reasons, we may want to build on older Windows/MacOS versions as well
        os: [ubuntu-22.04, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'

    - name: Install dependencies
      if: matrix.os != 'windows-latest'
      run: |
        python -m pip install --upgrade pip setuptools pyinstaller
        curl -sSL https://install.python-poetry.org | python3 - --version 1.4.0
        poetry config virtualenvs.create false
        poetry install --no-root

    - name: Install dependencies
      if: matrix.os == 'windows-latest'
      run: |
        python -m pip install --upgrade pip setuptools pyinstaller
        curl -sSL https://install.python-poetry.org | python3 - --version 1.4.0
        C:\Users\runneradmin\AppData\Roaming\Python\Scripts\poetry config virtualenvs.create false
        C:\Users\runneradmin\AppData\Roaming\Python\Scripts\poetry install --no-root

    - name: Install dependencies (Linux)
      if: matrix.os == 'ubuntu-22.04'
      run: |
        sudo apt-get install -y binutils

    - name: Update package version (Linux)
      if: matrix.os == 'ubuntu-22.04'
      run: sed -i 's/__version__ = .*/__version__ = "${{ github.ref_name }}"/g' holmes/__init__.py

    # mac has BSD style sed command where you specify -i '' and not just -i
    - name: Update package version (macOS)
      if: matrix.os == 'macos-latest'
      run: sed -i '' 's/__version__ = .*/__version__ = "${{ github.ref_name }}"/g' holmes/__init__.py

    # windows has no sed, so we use powershell
    - name: Update package version (Windows)
      if: matrix.os == 'windows-latest'
      run: |
        $filePath = 'holmes/__init__.py'
        (Get-Content $filePath) -replace '__version__ = .+', '__version__ = "${{ github.ref_name }}"' | Set-Content $filePath
      shell: pwsh

    - name: Install unixODBC (macOS)
      if: matrix.os == 'macos-latest'
      run: brew install unixodbc

    # if you change something here, you must also change it in .github/workflows/build-and-test.yaml
    - name: Build with PyInstaller
      shell: bash
      # regarding the tiktoken part of the command, see https://github.com/openai/tiktoken/issues/80
      # regarding the litellm part of the command, see https://github.com/pyinstaller/pyinstaller/issues/8620#issuecomment-2186540504
      run: |
       pyinstaller holmes_cli.py \
            --name holmes \
            --add-data 'holmes/plugins/runbooks/*:holmes/plugins/runbooks' \
            --add-data 'holmes/plugins/prompts/*:holmes/plugins/prompts' \
            --add-data 'holmes/plugins/toolsets/*:holmes/plugins/toolsets' \
            --add-data 'holmes/plugins/toolsets/coralogix*:holmes/plugins/toolsets/coralogix' \
            --add-data 'holmes/plugins/toolsets/grafana*:holmes/plugins/toolsets/grafana' \
            --add-data 'holmes/plugins/toolsets/internet*:holmes/plugins/toolsets/internet' \
            --add-data 'holmes/plugins/toolsets/opensearch*:holmes/plugins/toolsets/opensearch' \
            --add-data 'holmes/plugins/toolsets/prometheus*:holmes/plugins/toolsets/prometheus' \
            --hidden-import=tiktoken_ext.openai_public \
            --hidden-import=tiktoken_ext \
            --hiddenimport litellm.llms.tokenizers \
            --hiddenimport litellm.litellm_core_utils.tokenizers \
            --collect-data litellm
        ls dist

    - name: Zip the application (Unix and Mac)
      if: matrix.os == 'macos-latest' || matrix.os == 'ubuntu-22.04'
      run: |
        cd dist
        zip -r holmes-${{ matrix.os }}-${{ github.ref_name }}.zip holmes
        mv holmes-${{ matrix.os }}-${{ github.ref_name }}.zip ../
        cd ..

    - name: Zip the application (Windows)
      if: matrix.os == 'windows-latest'
      run: |
        Set-Location -Path dist
        Compress-Archive -Path holmes -DestinationPath holmes-${{ matrix.os }}-${{ github.ref_name }}.zip -Force
        Move-Item -Path holmes-${{ matrix.os }}-${{ github.ref_name }}.zip -Destination ..\
        Set-Location -Path ..

    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1.0.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ./holmes-${{ matrix.os }}-${{ github.ref_name }}.zip
        asset_name: holmes-${{ matrix.os }}-${{ github.ref_name }}.zip
        asset_content_type: application/octet-stream

    - name: Upload build as artifact
      uses: actions/upload-artifact@v4
      with:
        name: holmes-${{ matrix.os }}-${{ github.ref_name }}
        path: ./holmes-${{ matrix.os }}-${{ github.ref_name }}.zip

  check-latest:
    needs: build
    runs-on: ubuntu-22.04
    outputs:
      IS_LATEST: ${{ steps.check-latest.outputs.release == github.ref_name }}
    steps:
      - id: check-latest
        uses: pozetroninc/github-action-get-latest-release@v0.7.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          excludes: prerelease, draft

  # Define MacOS hash job
  mac-hash:
    needs: check-latest
    runs-on: ubuntu-latest
    if: needs.check-latest.outputs.IS_LATEST
    outputs:
      MAC_BUILD_HASH: ${{ steps.calc-hash.outputs.MAC_BUILD_HASH }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Download MacOS artifact
        uses: actions/download-artifact@v4
        with:
          name: holmes-macos-latest-${{ github.ref_name }}
      - name: Calculate hash
        id: calc-hash
        run: echo "::set-output name=MAC_BUILD_HASH::$(sha256sum holmes-macos-latest-${{ github.ref_name }}.zip | awk '{print $1}')"

  # Define Linux hash job
  linux-hash:
    needs: check-latest
    runs-on: ubuntu-latest
    if: needs.check-latest.outputs.IS_LATEST
    outputs:
      LINUX_BUILD_HASH: ${{ steps.calc-hash.outputs.LINUX_BUILD_HASH }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Download Linux artifact
        uses: actions/download-artifact@v4
        with:
          name: holmes-ubuntu-22.04-${{ github.ref_name }}
      - name: Calculate hash
        id: calc-hash
        run: echo "::set-output name=LINUX_BUILD_HASH::$(sha256sum holmes-ubuntu-22.04-${{ github.ref_name }}.zip | awk '{print $1}')"

  # TODO: update homebrew formula
  update-formula:
    needs: [mac-hash, linux-hash]
    runs-on: ubuntu-latest
    if: ${{ !github.event.release.prerelease }}
    steps:
      - name: Checkout homebrew-holmesgpt repository
        uses: actions/checkout@v2
        with:
          repository: robusta-dev/homebrew-holmesgpt
          token: ${{ secrets.MULTIREPO_GITHUB_TOKEN }}
      - name: Update holmesgpt.rb formula
        run: |
          MAC_BUILD_HASH=${{ needs.mac-hash.outputs.MAC_BUILD_HASH }}
          LINUX_BUILD_HASH=${{ needs.linux-hash.outputs.LINUX_BUILD_HASH }}
          TAG_NAME=${{ github.ref_name }}
          awk 'NR==6{$0="        url \"https://github.com/robusta-dev/holmesgpt/releases/download/'"$TAG_NAME"'/holmes-macos-latest-'"$TAG_NAME"'.zip\""}1' ./Formula/holmesgpt.rb > temp && mv temp ./Formula/holmesgpt.rb
          awk 'NR==7{$0="        sha256 \"'$MAC_BUILD_HASH'\""}1' ./Formula/holmesgpt.rb > temp && mv temp ./Formula/holmesgpt.rb
          awk 'NR==9{$0="        url \"https://github.com/robusta-dev/holmesgpt/releases/download/'"$TAG_NAME"'/holmes-ubuntu-22.04-'"$TAG_NAME"'.zip\""}1' ./Formula/holmesgpt.rb > temp && mv temp ./Formula/holmesgpt.rb
          awk 'NR==10{$0="        sha256 \"'$LINUX_BUILD_HASH'\""}1' ./Formula/holmesgpt.rb > temp && mv temp ./Formula/holmesgpt.rb
      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -am "Update formula for release ${TAG_NAME}"
          git push
